<!doctype html>
<html class="no-js" lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>UMS</title>
    <meta name="description" content="System zarządzania zajęciami dodatkowymi">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    @Styles.Render("~/Content/PanelTheme/CSS")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]> <p class="browserupgrade">Używasz <strong>przestażałej</strong> przeglądarki. Proszę <a href="http://browsehappy.com/">uaktualnij przeglądarkę</a>, aby móc w pełni korzystać ze strony.</p> <![endif]-->
    @Html.Partial("~/Views/Shared/_HeaderTopArea.cshtml")
    @Html.Partial("~/Views/Shared/_MobileMenuArea.cshtml")

    @*@Html.Partial("~/Views/Shared/_MainMenuArea.cshtml")*@
    <div class="partialContent" data-url='@(Html.Raw(Url.Action("GetMainMenuAreaAsync", "Widgets")))'>
        <div class="loading--partial">
            Ładowanie...
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_StatusArea.cshtml")

    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial("~/Views/Shared/_FooterArea.cshtml")

    @Scripts.Render("~/Content/PanelTheme")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function (e) {
            $('.partialContent').each(function (index, item) {
                var widgetUrl = $(item).data('url');
                if (widgetUrl) {
                    $.ajax({
                        url: widgetUrl,
                        type: "GET",
                        cache: false,
                        success: function (data) {
                            $(item).html(data);
                        },
                        error: function () {
                            console.log('Błąd przetwarzania Widgetu. \n' +
                                'URL: ' + url + '\n' +
                                'PARAM:' + params);
                        }
                    });
                } else {
                    $(item).html('');
                }
            });
        });
    </script>
</body>

</html>