@model List<UMS_Portal.ViewModels.NavigationMenuViewModel>
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    @foreach (var item in Model.Where(m => m.ParentMenuId == null))
                    {
                        if (item.WithoutLinking)
                        {
                            <li class="active">
                                <a data-toggle="tab" href="#@(item.Id)">
                                    <i class="@(item.IconClass)"></i>@(item.Name)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="active">
                                <a href="@Url.Action(item.ActionName, item.ControllerName)">
                                    <i class="@(item.IconClass)"></i>@(item.Name)
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div class="tab-content custom-menu-content">
                    @foreach (var item in Model.Where(m=>m.ParentMenuId != null))
                    {
                            <div id="@(item.ParentMenuId)" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                                <ul class="notika-main-menu-dropdown">
                                    @foreach (var child in Model.Where(m => m.ParentMenuId == item.Id))
                                    {
                                        <li>
                                            <a href="@Url.Action(child.ActionName, child.ControllerName)">@(item.Name)</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->